@import "tailwindcss";

@theme {
  /* Brand Colors */
  --color-brand-orange: #EC7425;
  --color-brand-blue: #122E56;
  --color-brand-cream: #F6F2EF;
  --color-brand-brown: #2F1707;
  --color-brand-gray: #3A3A3A;
  --color-brand-light-blue: #1B4581;
  --color-brand-black: #000000;
  --color-brand-white: #FFFFFF;
  --color-brand-light-brown: #F8F5F2;
  --color-brand-navbar-bg: #F6F0EA;

  --font-sans: var(--font-raleway), ui-sans-serif, system-ui, sans-serif;
  
  /* Container Settings */
  --breakpoint-2xl: 1280px;
}

/* Global Styles */
html, body {
  font-family: var(--font-raleway), sans-serif !important;
  scroll-behavior: smooth;
}

input, textarea, button, select {
  font-family: inherit;
}